@import "tailwindcss";
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

@custom-variant dark (&:where(.dark, .dark *));

.toggle-button {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #4a5568;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.toggle-button:hover {
    background-color: #2d3748;
}

#hero-section {
    background-image: url('http://raw.githubusercontent.com/kvong/dotfiles/refs/heads/master/screenshots/sample-qtile.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
